/*Dark Souls */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  margin: 0;
  font-family: 'EB Garamond', serif;
}


.app {
  max-width: 2000px;
  min-width: 320px;
  margin: auto;
}


.summaryStatsContainer  {
  max-width: 400px;
  width: 100%;
  background-color: rgb(95, 95, 95);
  border-radius: 10px;
  margin: auto auto 1em auto;
}
.summaryStatsText1 {
  text-align: center;
  margin-top: 1em;
  color: rgb(226, 226, 226);
  font-size: 2em;
}
.summaryStatsText2 {
  margin: 1em 0 0 40px;
  color: rgb(209, 202, 202);
  font-size: 1.5em;
  padding-bottom: 1em;
}

.darkSoulsNav1Ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(66, 66, 68);
  width: 500px;
  margin: auto;
}
.darkSoulsNav1Li {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  overflow-x: hidden;
}
.darkSoulsNav1Li:hover {
  cursor: pointer;
  color: red;
}
.darkSoulsNav1LiSelected {
  display: block;
  float: left;
  color: yellow;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  overflow-x: hidden;
}


.bossContainer {
  width: 500px;
  margin: auto;
  background-color: rgb(66, 66, 68);
  color: white;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

.entryImage {
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
}
.bossButton1 {
  border: none;
  background-color: rgb(73, 15, 15);
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
}

.mainDSNavUl {
  list-style-type: none;
  margin: auto;
  padding: 0em 0em 0em 0em;
  overflow: hidden;
  min-width: 320px;
  background-image: linear-gradient(to right, #0f0f0f, #020214); 
  max-width: 3000px;
}

.mainDSNavLiLogo {
  float: left;
  margin: 0em 0em 4px 0em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: solid;
  border-color: transparent;
  border-width: 2px;
  font-weight: bold;
}

.mainDSNavLi {
  float: right;
  margin: 0em 0em 4px 0em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: solid;
  border-color: transparent;
  border-width: 2px;
  font-weight: bold;
}

.mainDSNavLi:hover {
  cursor: pointer;
  color: red;
}